* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica-Neueu', Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 16px;
}

body, h1, h2, p {
    margin: 0;
}



svg {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family:'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 400;
    color:#00020d; /* color de fallback */
}

p {
    font-size: 1rem;
    line-height: 1.25;
}

a {
    color: #00020d;
    text-decoration: none;
    font-size: .7rem;
    font-family:'Cormorant Garamond', serif;
}

.header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.column__image {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    position: relative;
}

.about-image{
    background-image: url(../assets/img/ikdashaundi.jpg);
}

.billboard {
    color: #00020d;
    height: 100vh;
}


.billboard__content {
    text-align: left;
    position: relative;
    z-index: 1;
}

.billboard__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.billboard__wrapper::before{
    content:'';
    display:block;
    background:#F7F7F8;
    position:absolute;
    z-index:0;
    bottom:0;
    left:20px;
    width: calc(100% - 40px);
    height:50%;
}

.billboard__schedule {
    position: absolute;
    left: 0;
    /*
     * código necesario porque "transform:rotate" cambia el eje del elemento
     * y para normalizarlo tenemos que añadir cálculos matemáticos
     */
    transform: rotate(-90deg) translate(-50%, calc(50% + 20px));
    transform-origin: 0 50%;
}


.logo{
    display:block;
}

.logo svg{
    height:40px;
    width: 40px;
}
.arrow svg{
    width: 1rem;
    height: 1rem;
    margin: 2% auto 0 auto;
    margin-left: auto;
    margin-right:auto;
}


.navigation,
.navigation__list {
    display: flex;
    justify-content: space-between;
 }

.nav-link{
    display:block;
    padding: 10px 20px;
    font-size: 1rem;
}


.subtitle_section{
    text-align: left;
    margin: 20px 0 0 0;
    font-weight: 300;
}

.invitation{
    text-align: center;
    font-family:'Cormorant Garamond', serif;
    color: #0f20fe;
    margin: 10% 0 0 0;
}


.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
}

.section {
    padding: 2rem 0;
    position:relative;

}


.reverse {
    flex-direction: row-reverse;
}

.proyect_presentation{
    display:block;
    width:350px;
    height:406px;
}

.proyect_wrapper{
    align-content: left;

}




.outline {
    color: #00020d; /* color de fallback */
    -webkit-text-fill-color: white; /* color de fondo */
    -webkit-text-stroke-width: 1px; /* ancho del borde */
    -webkit-text-stroke-color: #00020d; /* color de borde */
    margin: 10% 0 0 0;
  }

.reverse .column__image::after {
    left: 0;
    margin-left: -5rem;
    margin-right: 0;
    right: initial;
}


.titular {
    text-align: center;
}



.uppercase {
    text-transform: uppercase;
}

.footer{
    background: #F7F7F8;
    color: #00020d;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    height:20%;
}








/* min-width: 768px / 16 */
@media screen and (min-width: 48em) {
    .row {
        display: flex;
    }

    .column {
        width: 50%;
    }

    .column__image {
        display: block;
    }
}





