* {
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica-Neueu', Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 16px;
}

body, h1, h2, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family:'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 400;
    color:#00020d; /* color de fallback */
    -webkit-text-fill-color: white; /* color de fondo */
    -webkit-text-stroke-width: 1px; /* ancho del borde */
    -webkit-text-stroke-color: #00020d; /* color de borde */
}

p {
    font-size: 1rem;
    line-height: 1.25;
}

a {
    color: #00020d;
    text-decoration: none;
    font-size: .7 rem;
    font-family:'Cormorant Garamond', serif;
}

.header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.billboard {
    color: #00020d;
    height: 100vh;
}

.billboard__content {
    text-align: left;
    position: relative;
    z-index: 1;
}

.billboard__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.billboard__wrapper::before{
    content:'';
    display:block;
    background:#F7F7F8;
    position:absolute;
    z-index:0;
    bottom:0;
    left:20px;
    width: calc(100% - 40px);
    height:50%;
}

.billboard__schedule {
    position: absolute;
    left: 0;
    /*
     * código necesario porque "transform:rotate" cambia el eje del elemento
     * y para normalizarlo tenemos que añadir cálculos matemáticos
     */
    transform: rotate(-90deg) translate(-50%, calc(50% + 20px));
    transform-origin: 0 50%;
}

.billboard__rrss {
    position: absolute;
    right: 0;
}


.logo{
    display:block;
}

.logo svg{
    height:40px;
    width: 40px;
}


.navigation,
.navigation__list {
    display: flex;
    justify-content: space-between;
 }

.nav-link{
    display:block;
    padding: 10px 20px;
    font-size: 1rem;
}


.social__item {
    border: .5px solid #00020d;
    border-radius: 50%;
    display: block;
    padding: 20px;
    margin: 20px;
}

.social__item svg{
    fill: #00020d;
    height: 25px;
    width: 25px;
}

.subtitle_section{
    text-align: left;
    margin: 20px 0 0 0;
    font-weight: 300;
}

.invitation{
    text-align: center;
    font-family:'Cormorant Garamond', serif;
    color: #0f20fe;
    margin: 10% 0 0 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
}

.section {
    padding: 2rem 0;
}

.reverse {
    flex-direction: row-reverse;
}

.column__image {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    margin: 0 auto;
    max-width: 75%;
    position: relative;
}

.column__image::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.column__image::after {
    border: 10px solid #e8c300;
    content: '';
    display: block;
    height: 10rem;
    margin-top: -5rem;
    margin-right: -5rem;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10rem;
}
.outline {
    color: #00020d; /* color de fallback */
    -webkit-text-fill-color: white; /* color de fondo */
    -webkit-text-stroke-width: 1px; /* ancho del borde */
    -webkit-text-stroke-color: #00020d; /* color de borde */
    margin: 10% 0 0 0;
  }

.reverse .column__image::after {
    left: 0;
    margin-left: -5rem;
    margin-right: 0;
    right: initial;
}

.about-image {
    background-image: url(img/fire.jpg);
}

.team-image {
    background-image: url(img/chef.jpg);
}

.bg-team {
    background: #000 url(img/speciality-bg.png) 50% no-repeat;
    background-size: cover;
}

.titular {
    text-align: center;
}


.text-center {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.big {
    font-size: 1.35rem;
    font-weight: 700;
}

.text-white {
    color: #fff;
}







/* min-width: 768px / 16 */
@media screen and (min-width: 48em) {
    .row {
        display: flex;
    }

    .column {
        width: 50%;
    }

    .column__image {
        display: block;
    }
}





